# macOS
.DS_Store

# Jupyter
**/.ipynb_checkpoints/

# Do NOT track raw images/data
proj4/calib_images/
proj4/retainer_aruco/
proj4/object_images/
proj4/retainer_again/
proj4/lafufu_frames/
proj4/lafufu_val_rows/
proj4/part1_outputs/raw/
proj4/part2_outputs/lego_360_frames/
proj4/part2_outputs/val_rows/
proj4/part2_outputs/val_snapshots/
proj4/part3/frames/
proj4/part3/frames_train/
proj4/part3/val_rows/
proj4/part3/val_snapshots/

# videos
proj4/**/*.mp4

# large arrays/datasets
proj4/*.npz

# test / scratch files
proj4/test*
proj4/*copy*.ipynb

# --- Allow specific images needed for the report ---
!proj4/calib_images/
!proj4/calib_images/IMG_6392.jpg
!proj4/calib_images/IMG_6405.jpg

!proj4/retainer_again/
!proj4/retainer_again/IMG_6572.jpg
!proj4/retainer_again/IMG_6525.jpg
!proj4/retainer_again/IMG_6583.jpg

!proj4/part2_outputs/val_rows/
!proj4/part2_outputs/val_rows/iter_50.png
!proj4/part2_outputs/val_rows/iter_100.png
!proj4/part2_outputs/val_rows/iter_500.png
!proj4/part2_outputs/val_rows/iter_1200.png
